html,body {
    padding: 0;
    margin: 0;
}
.drag-container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
    background-color: aqua;
}
.drag-container .drag-circle {
    position: absolute;
    top: 0;
    width: 180px;
    height: 180px;
    border: 1px solid #b2ddfc;
    border-radius: 50%;
    background-color: #fff;
    /*background: url('../images/circle.png') no-repeat;*/
    /*background-size: contain;*/
    cursor: pointer;
}
.drag-container .handle {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background: url('../images/handle.png') no-repeat;
    background-size: contain;
    cursor: pointer;
}
.drag-container .vertical-line {
    position: absolute;
    left: 80px;
    width: 20px;
    height: 500px;
    background-color: bisque;
}
.drag-container .light {
    position: absolute;
    top: 20px;
    left: 0;
    width: 21px;
    height: 21px;
    background: url("../images/light.png") no-repeat;
}
.drag-container .slider-container {
    position: absolute;
    left: 200px;
}
.drag-container .slider-container #rotation_result {
    width: 50px;
}